body {
  background-color: rgb(24, 24, 24);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  position:relative;
  align-items: center;
  justify-content: center;
  margin: 0px ;
}



.css-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.css-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;

}

.css-result,
.css-moves,
.css-score,
.css-check {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.css-option-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}


.js-confirm-button {
  margin: 5px;
  height: 40px;
  width: 40px;
  padding: 5px 5px;
  cursor: pointer;
}

.check-decision {
  padding: 10px 10px;
  width: auto;
  border: 2px solid gray;
}

.game-title {
  font-weight: bold;
  font-size: 30px;
}

.rock-button,
.paper-button,
.scissors-button {
  border:3px solid white;
  background-color: transparent;
  border-radius: 50%;
  height: 120px;
  width: 120px;
  margin: 5px;
  cursor: pointer;
  margin-bottom: 40px;
}

.move-icon {
  height: 50px;
}

.reset-button,
.auto-play,
.js-auto-speedup {
  background-color: solid white;
  border: none;
  padding: 7px 15px;
  font-size: 16px;
  cursor: pointer;
  
}

.reset-button:hover,
.auto-play:hover,
.js-auto-speedup:hover {
  border: 2px solid rgb(249, 211, 27);
  transition: 0.2s;
}

.reset-button {
  background-color: rgb(174, 26, 26);
  color: wheat;
  transition: 0.2s;
}

.reset-button:active {
  padding: 9px 17px ;
  transition-timing-function: ease-in-out;
}



.auto-play,
.js-auto-speedup {
  background-color: rgb(32, 90, 32);
  color: wheat;
}

.auto-play-off,
.js-auto-speedup-off {
  background-color: rgb(174, 26, 26);
  color: wheat;
}

.result {
  font-size: 30px;
  font-weight: bold;
}

.score {
  margin-top: 60px;
  font-size: 16px;
  
}




.intr-box {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.blur-css {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  opacity: 0.3;
}


.cont-css {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80%;
  width: 50%;
  background-color: rgb(194, 191, 191);
  border: 2px solid gray;
  border-radius: 30px;
  color: black;
}


.inst-line {
  color: rgb(13, 47, 19);
}

.start-intro {
  background-color: rgb(67, 11, 24);
  border: none;
  color: wheat;
  font-size: large;
  border-radius: 50%;
  margin-top: 40px;
  height: 50px;
  width: 80px;
  cursor: pointer;
}

.start-intro:hover {
  opacity: 0.9;
}